---
import AppLayout from "@/layouts/AppLayout.astro";

import {
  Search,
  Compass,
  ArrowRight,
  ChevronLeft,
  ChevronRight,
} from "lucide-react";

import { Button, buttonVariants } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import {
  Card,
  CardHeader,
  CardTitle,
  CardDescription,
  CardContent,
} from "@/components/ui/card";
import { Image } from "astro:assets";
import Header from "@/components/Header";
import Footer from "@/components/Footer.astro";

import Showcase from "@/components/Showcase.astro";

import BunImage from "@/assets/images/bun.jpg";
import CakeImage from "@/assets/images/cake.jpg";
import MeatImage from "@/assets/images/meat.jpg";
import PizzaImage from "@/assets/images/pizza.jpg";
import TiramisuImage from "@/assets/images/tiramisu.jpg";
---

<AppLayout title="Home - Meisto">
  <Header className="min-w-full px-4 py-3" client:load />

  <main class="min-h-screen flex flex-col relative">
    <section id="hero" class="min-h-[45rem] flex">
      <div class="container px-4 grid place-items-center flex-1">
        <div class="flex flex-col items-center gap-6 w-full">
          <div class="flex flex-col gap-3 items-center text-center">
            <h1 class="text-5xl font-bold tracking-tight">
              A Recipe for Every Occasion
            </h1>

            <span class="text-gray-500 leading-none">
              Explore various recipes for you to use in your cooking
            </span>
          </div>

          <div class="flex flex-col gap-3 items-center w-2/3">
            <div class="relative w-full">
              <Input
                type="text"
                placeholder="Search for a recipe..."
                className="w-full ps-8"
              />
              <div class="absolute inset-y-2.5 start-0 ps-2">
                <Search className="size-4" />
              </div>
            </div>

            <div class="flex items-center gap-2">
              <Button>
                <Search />
                Search
              </Button>
              <Button variant={"secondary"}>
                <Compass />
                Browse Recipes
              </Button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="about" class="py-8">
      <div
        class="container px-4 grid grid-cols-1 lg:grid-cols-2 gap-x-6 gap-y-5"
      >
        <div class="grid place-items-center">
          <Card>
            <CardHeader>
              <CardTitle className="text-2xl font-bold">About us</CardTitle>
              <CardDescription>More on us & what we provide</CardDescription>
            </CardHeader>

            <CardContent className="space-y-5">
              <p>
                Meisto is a recipe gallery website, showcasing a variety of
                recipes for cooking in your kitchen. The recipes are curated and
                freely available for anyone that needs them. Start exploring
                now!
              </p>

              <a href="/" class={buttonVariants({ variant: "default" })}>
                Explore Recipes
                <ArrowRight />
              </a>
            </CardContent>
          </Card>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-2 gap-1">
          <Image
            src={TiramisuImage}
            alt="Tiramisu"
            loading="eager"
            class="rounded-s-md"
          />

          <div class="flex flex-col gap-1">
            <Image
              src={PizzaImage}
              alt="Pizza slice"
              loading="eager"
              class="flex-1 bg-cover rounded-tr-md"
            />
            <Image
              src={MeatImage}
              alt="Meat"
              loading="eager"
              class="flex-1 bg-cover rounded-br-md"
            />
          </div>
        </div>
      </div>
    </section>

    <section id="showcase" class="py-8">
      <div class="container px-4 flex flex-col gap-5">
        <div class="flex items-center justify-between gap-3">
          <h3 class="text-4xl font-bold">Gallery</h3>

          <div class="flex items-center gap-1">
            <Button variant={"secondary"} className="showcasePrev">
              <ChevronLeft size={24} />
            </Button>

            <Button variant={"secondary"} className="showcaseNext">
              <ChevronRight size={24} />
            </Button>
          </div>
        </div>
        <Showcase />
      </div>
    </section>

    <section id="community" class="py-8">
      <div class="container px-4 grid grid-cols-1 lg:grid-cols-2 gap-5">
        <div class="grid place-items-center">
          <Card>
            <CardHeader>
              <CardTitle className="text-2xl font-bold">Need Help?</CardTitle>
              <CardDescription>Explore our community</CardDescription>
            </CardHeader>

            <CardContent className="space-y-5">
              <p>
                Our community is here to help with common questions, provide
                helpful guides, or just offer a space to connect with others.
                Whether you're looking for answers or just want to hang out,
                you're welcome here!
              </p>

              <a href="/" class={buttonVariants({ variant: "default" })}>
                <Compass />
                Explore our community
              </a>
            </CardContent>
          </Card>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-2 gap-1">
          <Image
            src={TiramisuImage}
            alt="Tiramisu"
            loading="lazy"
            class="rounded-s-md object-cover"
          />

          <div class="flex flex-col gap-1">
            <Image
              src={CakeImage}
              alt="Cake"
              loading="lazy"
              class="flex-1 object-cover rounded-tr-md"
            />
            <Image
              src={BunImage}
              alt="Bread Buns"
              loading="lazy"
              class="flex-1 object-cover rounded-br-md"
            />
          </div>
        </div>
      </div>
    </section>
  </main>

  <Footer />

  <script>
    import { toast } from "sonner";

    const showToast = () => {
      toast.success("Hello world");
    };

    document.getElementById("test")?.addEventListener("click", () => {
      showToast();
    });
  </script>
</AppLayout>
